
body{
  width:100%;
  height:100%;
  margin: 0 auto;
  background-color:black;
}

@font-face {
	font-family: sintony;
	src: url('Sintony-Regular.ttf');
}

li.nav_button a{
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    height:100%;
}
#nav{
  width:100%;
  height:60px;
  margin: 0 auto;
}

#nav_wrapper{
  background-color:black;
  width:100%;
  height:100%;

}

ul#nav_list{
  list-style:none;
  margin:0 auto;
  text-align:center;
  padding:0;
  height:100%;
}
li.nav_button{
  display:inline;
  line-height:55px;
  text-align:center;
}
.nav_button a:link{
  color:white;
  text-decoration:none;
  font-family: sintony;
  font-size:16px;
}
.nav_button a:visited{
  color:white;
}
.nav_button a:hover{
  color: #8c8c8c;
  transition: all 0.2s ease 0s;
}
.nav_button a:active{
  background-color:#404040;
  transition: all 0.3s ease 0s;
}

#header_img{
  height:290px;
  background-image: url(../img/shoes.jpg);
  background-size: 1272.6px 859.6px;
  background-position: -40px -568px;
  text-align:center;
  position:relative;
  box-shadow: inset 0px 0px 10px #000;


}
#box_shadow{
  height:100%;
  width:100%;
  box-shadow: 0 0 20px 20px black;
  /*-webkit-box-shadow: inset 0px 0px 199px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 199px 0px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 199px 0px rgba(0,0,0,1);*/
}

div #img_box{
  border-width:10px;
  border-color:white;
  width:450px;
  margin-top:50px;
  margin-bottom:50px;
  line-height:120px;
  height:180px;
  /*margin:0 auto;*/
  display:inline-block;
  border-width:5px;
  border-color:white;
  border-style:solid;
}
#img_box h1{
  font-size:40px;
  font-family:sintony;
  color:white;
}

#footer{
  width:100%;
  height:60px;
  background-color:white;
  bottom:0;
  margin: 0 auto;
  position:absolute;

}
