
body{
  width:100%;
  height:100%;
  margin: 0 auto;
  background-color:black;
}




@font-face {
	font-family: sintony;
	src: url('../fonts/Sintony-Regular.ttf');
}
@font-face {
	font-family: sintony_bold;
	src: url('../fonts/Sintony-Bold.ttf');
}



li.nav_button a{
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    height:100%;
}
#nav{
  width:100%;
  height:60px;
  margin: 0 auto;
  border-bottom-width:3px;
  border-bottom-color:white;
  border-bottom-style:solid;
}

#nav_wrapper{
  background-color:black;
  width:100%;
  height:100%;

}

ul#nav_list{
  list-style:none;
  margin:0 auto;
  text-align:center;
  padding:0;
  height:100%;
}
li.nav_button{
  display:inline;
  line-height:55px;
  text-align:center;
}
.nav_button a:link{
  color:white;
  text-decoration:none;
  font-family: sintony;
  font-size:16px;
}
.nav_button a:visited{
  color:white;
}
.nav_button a:hover{
  background-color: #404040;
  transition: all 0.3s ease 0s;
}
.nav_button a:active{
  background-color:#404040;
  transition: all 0.3s ease 0s;
}

#header_img{
  height:290px;
  background-image: url(../img/shoes.jpg);
  background-size: 1272.6px 859.6px;
  background-position: -40px -568px;
  text-align:center;
  position:relative;
  box-shadow: inset 0px 0px 10px #000;
}

div #img_box{
  box-shadow: inset 0 0 1px #000000;
  border-width:10px;
  border-color:white;
  width:450px;
  margin-top:50px;
  margin-bottom:50px;
  line-height:120px;
  height:180px;
  /*margin:0 auto;*/
  display:inline-block;
  border-width:5px;
  border-color:white;
  border-style:solid;
}
#img_box h1{
  font-size:40px;
  font-family:sintony_bold;
  color:white;
}

#footer{
  width:100%;
  height:60px;
  background-color:black;
  border-style:solid;
  border-top-color:white;
  border-top-width:2px;
  margin: 0 auto;
  position:absolute;

}

.blog_panel{
  background-color:black;
  height:100%;
  width:90%;
  margin: 0 auto;

  margin-top:40px;
  border-radius:3px;
  text-align:center;


}
.post_title{
  margin:0;
  color:white;
}
.post_panel{
  border-radius:5px;
  width:100%;
  margin:0 auto;
  height:100%;
  background-color:black;
  list-style:none;
  text-align:center;
  color:white;
}
/*.pagination{
  text-align:center;
  font-size:22px;
  color:black;
  font-family: sintony;
  height:60px;
}*/
#page_p{
  display:inline-block;
}
.page_link_button a:visited, .page_link_button a:link, .page_link_button a:active{
  color:black;
  text-decoration:none;
}

/*.pagination a:hover{
  cursor:pointer;
}*/
.page_link_button{
  position:relative;
  display:inline-block;
  text-align:center;
  background-color:white;
  border-radius:6px;
  position: relative;
  top: 25%;
  font-family: sintony;
  height:30px;
  padding:9px;
  width:100px;
}
.page_button{
  position:relative;
  display:inline-block;
  text-align:center;
  background-color:white;
  border-radius:6px;
  position: relative;
  top: 25%;
  font-family: sintony;
  height:30px;
  padding:9px;
  width:100px;
}
.page_link_button:hover{
  background-color: #8c8c8c;
  transition: all 0.2s ease 0s;
}
#next_prev{
  width:100%;
  height:80px;
  background-color:black;
}

#music_panel{
  background-color:black;
  height:750px;
  width:80%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top:40px;
  border-radius:3px;
  text-align:center;
}
.soundcloud{
  width:100%;
  background-color: white;
  border-radius:3px !important;
  border-width:2px;
  border-color: #cccccc;
  border-style:solid;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:10px;
  display:block;
}

.sc_song_wrapper{
  width:99%;
  margin:0 auto;
  padding-top:4px;


}

.show_more, .show_more:link, .show_more:visited, .show_more:active{
  color: black;
  padding:10px;
  font-family: sintony;
  border-radius:3px;
  display:inline-block;
  margin-top:15px !important;
  margin-bottom:23px !important;
  background-color:white;
  text-decoration:none;
}

.show_more:hover{
  text-decoration:none;
  background-color: #bfbfbf;
  transition: all 0.3s ease 0s;
}

.sc_stamps{
  width:100%;
  text-align:left !important;
  height:100%;
  font-family:sintony;


}
.sc_stamps p{
  left:18px;
  position:relative;
  color:white;
  font-size:20px;
  display:inline;

}
#music_hr{
  border: 0;
  margin-top:45px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(77, 77, 77, 0.95), rgba(0, 0, 0, 0));
}
.sc_wrapper{
  margin-top:35px;
}

#images{
  margin: 0 auto;
  width:1250px;
  max-width:1250px;
  text-align:center;
}
.flickr{
  display:inline-block;
  padding: 0 35px 0 35px;
  margin: 27px 0 27px 0;

}
.flickr_wrapper{
  padding:10px 10px 6px 10px;
  background-color: #4d4d4d;
  transition: all 0.3s ease 0s;
  border-radius:4px;
  border-width:2px;
  border-color:#333333;
  border-style:solid;
}
.flickr_wrapper:hover{
  background-color: #666666

}

.photo_info{
  color:white;
  font-family: sintony;
}
.page-content{

  border-top-width:2px;
  box-sizing: border-box;
  border-top-color:white;
  border-top-style:solid;
}

#style_a_link{
  position:relative;

}


.post_img{
  max-width:100%;
  max-height:100%;
  vertical-align:top;


}
.post_img_div{
  width:70%;
  min-width:800px;
  max-width:800px;
  min-height:530px;
  max-height:530px;
  height:70%;
  position:relative;
  padding:1px 1px 1px 1px;
  background-color: #4d4d4d;
  transition: all 0.3s ease 0s;
  border-radius:4px;
  border-width:1px;
  border-color:#333333;
  border-style:solid;
  overflow:hidden;
  display:inline-block !important;
  margin-bottom:55px;

}

.post_img_div:hover .fit_info{
  opacity:1;
}

#fit_list{
  width:100%;
  height:100%;
  list-style:none;
  text-align:left;
  font-family:sintony;
  font-size:14px;
  padding:0;

}
#fit_list li{
  margin: 15px 0 0 0;
}

.fit_info{
  background: rgba(0, 0, 0, .4);
  padding:5px 15px 5px 15px;
  display:inline-block;
  border-radius:2px;
  right:0;
  top:0;
  opacity:0;
  position:absolute;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;


}

.post_title{
  font-family:sintony_bold;
  font-size:30px;
  color:white;
}

.post_title a:link, .post_title a:active, .post_title a:visited{
  text-decoration:none;
  color:white;
}
.post_title a:hover{
  color: #666666;
  transition: all 0.3s ease 0s;
}
.post_date{
  font-family:sintony;
  font-size:13px;


}
.post_info{
  display:inline-block;
  text-align:left !important;
  margin-top:10px;
  width:70%;

}
.post_img:hover {
    /*-webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;*/
}

.post_preview{
  font-family:sintony;
  line-height:20px;
  margin:30px 0 30px 0;

}
#blog_hr{
  width:100%;
  position:relative;
  top:6px;
  border: 0;

  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(77, 77, 77, 0.95), rgba(0, 0, 0, 0));
}

.post_info p{
  font-family:sintony;
  color:white;
  text-decoration:none;
  font-size:15px;

}

.post_landing{
  color:white;
  background-color:red;
  width:100%;
  height:200px;
}

.blog_post_img iframe{
  display:block;
}


.ig-b- {
  display: inline-block;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; }
.ig-b-:active { background-position: 0 -120px; }
.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }
