---
layout: default
---
{% include style_js.html %}

<div id="blog_panel">
    {% for post in site.categories.style %}
      <div class="post_panel">
        <h1 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="author">
          <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        </p>
      </div>
    {% endfor %}
    <!-- {% if paginator.total_pages > 1 %}
      <div class="pagination">
        <div class="page_button">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}
        </div> -->

    <!-- {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <p id="page_p">{{ page }}</p>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %} -->
        <!-- <div class="page_button">
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
    </div>
  {% endif %} -->

</div>
<!-- <div id="next_prev">
  {% include next_prev.html %}
</div> -->
