<header>
  <div id="nav">
    <div id="nav_wrapper">
      <ul id=nav_list>
        <li class="nav_button"><a id="style_link" title="Style" href="/index.html">Style</a></li>
        <li class="nav_button"><a id="photo_link" title="Photo" href="/photo.html">Photo</a></li>
        <li class="nav_button"><a id="music_link" title="Music" href="/music.html">Music</a></li>
      </ul>
    </div>
  </div>

    <div id="header_img">
      <div id="box_shadow">
        <div id="img_box">
          <h1>Persona</h1>
        </div>
      </div>
    </div>
</header>
