{% if paginator.total_pages > 1 %}
  <div class="pagination">

      {% if paginator.previous_page %}
      <div class="page_link_button">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      </div>
      {% else %}
      <div class="page_button">
        <span>&laquo; Prev</span>
      </div>
      {% endif %}

      {% if paginator.next_page %}
      <div class="page_link_button">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </div>
      {% else %}
      <div class="page_button">
        <span>Next &raquo;</span>
      </div>
      {% endif %}

</div>
{% endif %}
